/* You can add global styles to this file, and also import other style files */

html  {
  display: block;
  margin: auto;
  background: #fff;
  height:100%;
  clear: both;
  overflow: hidden;
}

footer {
  display: block;
  margin: auto;
  background: #fff;
  height:80%;
  clear: both;
  overflow: hidden;
}

body {
  display: block;
  margin: auto;
  background: #fff;
  height:140%;
  clear: both;
  overflow: hidden;
}

